<!-- Delete Ticket Confirmation Modal -->
<div class="modal fade" id="deleteTicketModal" tabindex="-1" aria-labelledby="deleteTicketLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 460px; margin-top: 60px; margin-left: auto; margin-right: auto;">
        <div class="modal-content rounded-3 shadow-sm">

            <!-- Header -->
            <div class="modal-header border-bottom-0 px-4 pt-3 pb-2">
                <h6 class="modal-title fw-semibold" id="deleteTicketLabel">Delete Ticket</h6>
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <hr class="my-0" />

            <!-- Body -->
            <div class="modal-body px-4 py-2 " style="font-size:13px;">
                <p class="mb-0">Are you sure you want to delete the selected ticket?</p>
            </div>

            <!-- Footer -->
            <div class="modal-footer border-top-0 px-4 pt-1 pb-3">
                <button type="button" class="btn btn-sm  px-3 me-2" id="confirmDeleteBtn">YES</button>
                <button type="button" class="btn btn-sm  px-3" data-bs-dismiss="modal" id="confirmclouseBtn">NO</button>
            </div>
        </div>
    </div>
</div>
<style>
    #confirmDeleteBtn ,#confirmclouseBtn {
        width: 50px;
        font-size: 13px;
        font-family: 'Open Sans', 'Segoe UI';
        background-color: #0091ff;
        color: white;
        font-weight: 400;
        border-radius: 5px;
    }
</style>